
* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

.clearfix {
  &:before {
    content: " ";
    display: table;
  }

  &:after {
    content: " ";
    display: table;
    clear: both;
  }

  *zoom: 1;
}

body {
  border-top: 5px solid $light-gray-color;
  background-color: $base-background-color;
  font-weight: 400;
}

hr {
  border-top: none;
  border-bottom: 2px solid lighten($light-gray-color, 7%);
  width: 100%;
  margin: $small-spacing 0;
}

.container {
  padding: $base-spacing;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.pull-left { float: left }
.pull-right { float: right }

.link {
  display: inline-block;
  padding-bottom: .08em;
  border-bottom: 2px solid $light-gray-color;
  @include transition(border 300ms linear);

  &:hover,
  &:focus,
  &:active {
    border-color: darken($light-gray-color, 10%);
  }
}

.intro {
  .author-name {
    background-color: $action-color;
    color: $white-color;
    display: inline-block;
    padding: 0 .3em;
  }

  a {
    @extend .link;
  }
}

.logo {
  float: left;
  margin: 0 0 1em 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;

  span {
    font-weight: 700;
  }
}

.nav {
  min-height: 64px;
}

.navbar {
  float: right;
  margin: 0;
  position: relative;
  padding: 0;
  pointer-events: all;
  cursor: pointer;

  li {
    display: inline-block;
    padding: 0 .6em;
  }

  a {
    @extend .link;
  }
}

.post-list h2 {
  font-weight: 300;
}

.post-item {
  padding-bottom: $base-spacing;
}

.post-meta {
  color: $medium-gray-color;
}

.post-link,
.post a,
.page a {
  @extend .link;
}

.pagination {
  li, a, span {
    display: inline-block;
  }

  a, span {
    font-size: rem(12);
    padding: .5em;
  }

  .prev, .next {
    @extend .link;
  }
}

.disqus {
  hr {
    margin: $base-spacing 0;
  }
}

.site-footer {
  @extend .clearfix;
  padding: 0 0 $base-spacing;

  hr {
    margin-top: 0;
  }

  a {
    @extend .link;
  }

  small {
    display: block;
    font-size: rem(12);
    padding-top: $base-spacing;
    color: darken($medium-gray-color, 10%);
  }
}